@charset "UTF-8";
/* CSS Document */

body{
	background-color: #f4f4f4;
}

h4.header {
    color: #f44336;
    font-weight: 300;
}
.topcol {
    padding-left: 25px!important;
    padding-right: 25px!important;
}
.btaction{
	cursor: pointer!important;
}
